.login-screen 
    position: fixed
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    background: white

    &.loaded
        .form-container
            transform: translateX(-50%) translateY(-50%) scale(1)
            opacity: 1

        .bg
            opacity: 1
            transform: scale(1)

    .bg
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        height: 100%
        background-size: cover
        transition: 1s
        opacity: 0
        transform: scale(1.03)

    .form-container 
        width: 500px
        padding: 45px
        position: absolute 
        top: 50% 
        left: 50% 
        transform: translateX(-50%) translateY(-50%) scale(1.1)
        opacity: 0
        transition: 0.7s
        text-align: center
        background: white
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5)
        border-radius: 5px
        transition-delay: 0.4s

        .logo 
            width: 200px
            margin-bottom: 10px

        h1 
            font-size: 26px
            margin-bottom: 30px
            margin-top: 20px

        form 
            input 
                display: block
                width: 100%
                border: 1px solid #ddd
                font-size: 16px
                padding: 15px 18px
                box-shadow: inset 2px 2px 5px rgba(0,0,0,0.05)

                &:first-of-type
                    margin-bottom: 10px

            button 
                padding: 15px 0
                border-radius: 3px
                width: 100%
                background: black 
                color: white
                font-size: 18px 
                margin-top: 30px
                margin-bottom: 15px
                border: 1px solid black
                transition: 0.2s

                &:hover 
                    background: white
                    color: black
                    cursor: pointer
        
        &>button 
            float: left
            background: none
            border: none

        .react-slidedown.my-dropdown-slidedown 
            color: red
            font-size: 14px
            height: 0
            transition-property: none
            transition-duration: .3s
            transition-timing-function: ease-in-out

@media (max-width: 500px) 
    body, html 
        .login-screen 
            .form-container 
                width: 100%