body, html 
    .main-container 
        opacity: 0 

        &.visible 
            opacity: 1

@media (max-width: 500px) 
    body, html 

        .content-container 
            width: 100%

        