section.title
    &.active 
        h1, h3
            transform: translateX(0px)
            opacity: 1

    h1, h3
        transform: translateX(20px)
        opacity: 0
        transition: 0.6s
        font-weight: 300

        &:nth-child(2)
            transition-delay: 0.3s
            color: #999

    &>div
        position: relative
        top: 30%
        transform: translateY(-50%)