body .section.image
    &.active .module-container > ul > li
        transform: translateY(0px)
        opacity: 1

    .module-container 
        padding-bottom: 5px

        &>ul 
            &.single 
                &>li
                    width: 100%

            &.double 
                &>li 
                    width: calc((100% - 30px) / 2)

            &.thirds
                &>li 
                    width: calc((100% - 60px) / 3)

                    &:nth-child(3n)
                        margin-right: 0

            &>li 
                float: left 
                margin-right: 30px
                margin-bottom: 30px
                transition: 0.4s
                opacity: 0
                transform: translateY(-30px)

                @for $i from 2 through 7
                    &:nth-child(#{$i})
                        transition-delay: #{$i/10}s

                &.text-on-right 
                    img, p 
                        width: calc((100% - 30px) / 2)
                        float: left

                    img 
                        margin-right: 30px

                img 
                    width: 100%
                    margin-bottom: 15px

        &>p 
            color: black 

@media (max-width: 500px)
    body, html 
        .section.image 
            .module-container 

                ul 
                    &.thirds 
                        &>li 
                            width: 100%

                    li.text-on-right 
                        width: 100%

                        img, p 
                            width: 100%

            .column
                &.left, &.right 
                    width: 100%