.page-sections .section
    .header-container
        padding: 35px 0
        border-bottom: 3px solid #f5f5f5

        .column 
            width: 50% 
            float: left

        h2 

            &.subheading 
                color: black 

        p 
            font-size: 14px
        .right
            p
                margin-top: 0px