.section.type 
    .module-container 
        padding-top: 50px

        .rows 
            &>li 
                margin-bottom: 30px

                &:last-child
                    margin-bottom: 0

        .column 
            float: left

            &.left 
                width: 75% 
                padding-right: 20px

            &.right 
                width: 25%

                p 
                    margin: 20px 0

            &>li

                span 
                    display: block
                    margin-bottom: 25px

@media (max-width: 500px) 
    body, html 
        .main-container  
            .section.type .module-container 
                .column 
                    width: 100%