.wysiwyg.section 
    .module-container 
        padding-top: 50px
        
        .section 
            padding: 0

        h1
            font-size: 2em
            font-weight: bolder

        h2
            font-size: 1.5em
            font-weight: bolder

        h3
            font-size: 1.17em
            font-weight: bolder

        h4
            font-size: 1em
            font-weight: bolder

        h5
            font-size: .83em
            font-weight: bolder

        h6
            font-size: .75em
            font-weight: bolder

        ul
            &>li 
                float: left 
                margin-right: 30px

                img 
                    width: 100%
                    height: 50%
                
            &.double 
                &>li 
                    width: calc((100% - 30px) / 2)

                    &:nth-child(n + 2)
                       margin-right: 0
            &.thirds 
               &>li 
                   width: calc((100% - 60px) / 3)

                   &:nth-child(n + 3)
                       margin-right: 0