.section.colour 
    &.active .module-container > div > .colour-grid-container >ul >li.grid-item 
        opacity: 1
        transform: translateY(0px)

    .module-container 
        padding-top: 50px

        &>div 

            &>.info
                width: 30% 
                float: left
                margin-bottom: 30px
                padding-right: 50px

            .colour-grid-container 
                float: left 
                width: 70%

                &>ul 
                    list-style-type: none

                    &>li.grid-item 
                        width: calc(100% / 3)
                        height: 200px
                        padding: 20px
                        padding-top: 60px
                        background: #dfc056
                        transition: 0.3s
                        transform: translateY(-10px)
                        opacity: 0
                        color: white

                        @for $i from 2 through 7
                            &:nth-child(#{$i})
                                transition-delay: #{$i/20}s

                        &:last-child 
                            margin-right: 0

                        &.primary
                            height: 400px
                            padding-top: 260px

                        &.light
                            color: black

                        &>ul 
                            list-style-type: none
                            position: absolute
                            bottom: 25px
                            left: 25px

                            li
                                &:first-child
                                    font-weight: 700

                p 
                    margin-top: 20px

@media(max-width: 500px)
    body, html 
        .section.colour .module-container 
            &>.info, &>.colour-grid-container
                width: 100%

                &>ul>li.grid-item
                    padding-top: 20px

                    &.primary 
                        padding-top: 220px