.sidebar-container 
    background: #f5f5f5
    width: 260px
    float: left
    overflow: auto
    @extend .hide-scrollbar

    button 
        background: none
        border: 0
        font-size: 16px 
        padding: 0
        margin-left: 

        &:hover 
            cursor: pointer

    .header-block 
        padding: 25px 

        h4 
            margin-top: 0

        img 
            width: 75px
            filter: invert(1)
            margin-right: 15px
            vertical-align: top

        .account 
            display: inline-block 
            vertical-align: top
            margin-top: -5px

            h4 
                display: block
                margin-bottom: 0px

            span 
                font-weight: bold
                opacity: 0.5

            p
                opacity: 0.5

        .dropdown
            padding-left: 0

    .highlight 
        position: absolute 
        left: 0 
        height: 40px 
        width: 100% 
        background: white 
        top: 0
        transition: 0.3s

        &.heading
            height: 50px

        .square 
            width: 15px
            height: 15px 
            background: white 
            position: absolute 
            right: 0

            &.top 
                top: -15px 

                &:before 
                    display: block
                    content: ""
                    width: 15px
                    height: 15px
                    margin-right: 0
                    background: #f5f5f5
                    position: absolute 
                    top: 0
                    right: 0
                    border-bottom-right-radius: 15px

            &.bottom
                bottom: -15px

                &:before 
                    display: block
                    content: ""
                    width: 15px
                    height: 15px
                    margin-right: 0
                    background: #f5f5f5
                    position: absolute 
                    top: 0
                    right: 0
                    border-top-right-radius: 15px


    &>ul 
        list-style-type: none
        padding-left: 0
        text-align: left

        &>li 
            h3 
                font-size: 21px
                font-weight: 300

            &.page
                margin-bottom: 30px

                &>button
                    padding-bottom: 10px

                    &:hover
                        color: black

                &.active
                    h3 
                        color: #000


            .section.active
                button
                    padding: 10px 25px
    
            button
                color: #999
                font-weight: 300
                padding: 5px 25px
                display: block
                cursor: pointer
                font-size: 14px
                width: 100%
                border: none
                background: none
                text-align: left
                transition: 0.3s

            &>ul 
                list-style-type: none
                padding-left: 0

                &>li 
                    transition: 0.3s

                    &.active 
                        button 
                            color: #000
            
                    &:hover 
                        button, h3
                            color: #000 
    
    .logout 
        position: absolute 
        bottom: 20px 
        left: 20px
        opacity: 0.5
        transition: 0.3s

        &:hover 
            opacity: 1

@media (max-width: 500px) 
    body, html 
        .main-container   
            .sidebar-container 
                width: 100%
                height: auto
                position: sticky
                top: 0
                z-index: 99

                &>ul 
                    display: none