@import 'theme-colors'
@import 'auth'
@import 'main'
@import 'sidebar'

@import 'section-colour'
@import 'section-typography'
@import 'section-image'
@import 'section-wysiwyg'
@import 'section-title'
@import 'sections'

$theme-font: acumin-pro, sans-serif

* 
  position: relative
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  font-family: 'acumin-pro' 
  outline: none
  -webkit-overflow-scrolling: touch
  border-radius: 0
  touch-action: manipulation

  .button 
    background: #000 
    color: white
    padding: 15px
    text-decoration: none
    display: inline-block
    margin-top: 30px
    border: 1px solid #000
    transition: 0.3s

    &:hover 
      background: white 
      color: black

body 
  margin: 0

.menu 
  display: none

h1, h2, h3, p 
  margin: 0
  line-height: 1.5

.content-container 
  .section
    padding: 0 50px
    min-height: 550px

    &.header_only
      border-bottom: 0

    .module-container 
      border-bottom: 3px solid #f5f5f5 
      padding: 50px 0

.wysiwyg p 
  margin: 20px 0

  // Blocks
div, main, header, footer, aside, ul, section, li
	display: block 

	&:after
		content: ''
		display: table
		clear: both

.main-container 
  height: 100vh 

  .content-container 

    ul.pages 
      margin-bottom: 0

  .sidebar-container, .content-container 
    height: 100vh 

  .content-container 
    overflow: auto

    .header-container 

      h1, h2
        font-size: 25px
        font-weight: 300

      .column 
        width: 50% 
        float: left

ul, ul ul, ul ul ul 
  list-style-type: none

.content-container 
  width: calc(100% - 260px)
  float: left

  ul 
    padding-left: 0

    &.pages 
        margin-top: 0

        .page

            section 
              height: 100vh 
              background-size: cover 
              background-position: center center
              padding: 50px

              h1 
                font-size: 60px
                margin-bottom: 10px

              h3 
                font-size: 30px
    
.footer-container 
  display: none

body
  font: $theme-font

.input-padding 
  padding: 10px

.login 
  display: flex
  flex-direction: column
  max-width: 300px

  .button 
    height: 40px
    margin-top: 20px

.hide-scrollbar
	overflow: -moz-scrollbars-none
	-ms-overflow-style: none
	scrollbar-width: none

	&::-webkit-scrollbar-track
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1)
		background-color: transparent
		height: 0px
		width: 0px
		display: none
		
	&::-webkit-scrollbar
		background-color: transparent
		height: 0px
		width: 0px
		display: none
		
	&::-webkit-scrollbar-thumb
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
		background-color: transparent
		height: 0px
		width: 0px
		display: none

@media (max-width: 500px)
  body, html 
    .main-container 
      .content-container 
        padding: 20px 
      .section 
        .header-container 
          .column 
            width: 100%